.custom-card {
  /* background: var(--gradient--vivid-cyan-blue-to-vivid-purple); */
  /* background: url(../assets/services-bg1.png), */
  background:url('../../assets/line-1.png') no-repeat center;

}

.custom-card img {
  height: 120px;
  width: 120px;
  border: 2px solid var(--secondary-color);
  padding: 10px;
  border-radius: 20px !important;
}
.skilsection{
  background: #131313;
}